<!DOCTYPE html>
<html>

<head>

<title>PRINT HEAD MONITOR</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h2>PRINT HEAD MONITOR</h2>

<div class="machines">

{% for m in machines %}

<div class="machine">

<h2>{{m.machine}}</h2>

<div class="health">

{{m.health}} %

</div>

</div>

{% endfor %}

</div>

<script src="/static/dashboard.js"></script>

</body>

</html>